<appSettings>
  <!-- Update these with your BotId, Microsoft App Id and your Microsoft App Password-->
  <add key="BotId" value="IntermediatorBotSample" />
  <add key="MicrosoftAppId" value="2f73fe9e-8520-4e3e-bee6-2d70cb8dee5b" />
  <add key="MicrosoftAppPassword" value="0!%sC/qXgj*L^n+j" />

  <!-- Add your connection string for routing data storage below -->
  <add key="RoutingDataStorageConnectionString" value="" />
  <!--<add key="RoutingDataStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=account-name;AccountKey=account-key" />-->
</appSettings>